<h2>Search for Flight</h2>
<%= form_with url: false,
  method: :get,
  class: 'search_form',
  data: { turbo_frame: 'flight_results', turbo_action: 'advance' } do |form| %>
  <div>
    <%= form.label :origin_id, 'Departing from:' %>
    <%= form.collection_select :origin_id, Airport.order(:name), :id, :name, selected: 1 %>
  </div>

  <div>
    <%= form.label :destination_id, 'Arriving to:' %>
    <%= form.collection_select :destination_id, Airport.order(:name).reverse, :id, :name, selected: 2 %>
  </div>

  <div>
    <%= form.label :departure_date, 'Departure date:' %>
    <%= form.select :departure_date, options_from_collection_for_select(@flights.unique_departure_dates, :departure_date, :departure_date_formatted, selected: '2024-06-01') %>
  </div>

  <div>
    <%= form.submit 'Search Flights', class: 'search_button' %>
  </div>
<% end %>

<%= turbo_frame_tag 'flight_results' do %>
  <% if params[:commit] && @selected_flights.any? %>
    <%= form_with url: new_booking_path, method: :get do |form| %>

      <div class="flight_results_container">
        <% @selected_flights.each do |flight| %>
          <div class="flight_result_selection">
            <input type="radio" id="flight_id_<%= flight.id %>" name="flight_id" value="<%= flight.id %>">
            <label for="flight_id_<%= flight.id %>">
              <%= render 'shared/flight_result', flight: flight %>
            </label>
          </div>
        <% end %>
      </div>

      <%= form.submit 'Select Flight',
        class: 'select_flight_button',
        data: { turbo_frame: '_top' } %>
    <% end %>
  <% end %>
<% end %>
