<h2>Search for Flight</h2>
<%= form_with url: false, method: :get, class: 'search_form' do |form| %>
  <div>
    <%= form.label :origin_id, 'Departing from:' %>
    <%= form.collection_select :origin_id, Airport.order(:name), :id, :name %>
  </div>

  <div>
    <%= form.label :destination_id, 'Arriving to:' %>
    <%= form.collection_select :destination_id, Airport.order(:name).reverse, :id, :name %>
  </div>

  <div>
    <%= form.label :passengers, 'Number of passengers:' %>
    <%= form.select :passengers, (1..4).to_a %>
  </div>

  <div>
    <%= form.label :departure_date, 'Departure date:' %>
    <%= form.select :departure_date, options_from_collection_for_select(@flights.unique_departure_dates, :departure_date, :departure_date_formatted) %>
  </div>

  <div>
    <%= form.submit 'Search Flights' %>
  </div>
<% end %>

<% if params[:commit] && @selected_flights.any? %>
  <%= form_with url: new_booking_path, method: :get, class: 'flight_results_form' do |form| %>

    <% @selected_flights.each do |flight| %>
      <div class="flight_result_selection">
        <input type="radio" id="flight_id_<%= flight.id %>" name="flight_id" value="<%= flight.id %>">
        <label for="flight_id_<%= flight.id %>">
          <%= render 'shared/flight_result', flight: flight %>
        </label>
      </div>
    <% end %>

    <%= hidden_field_tag :passengers, params[:passengers] %>
    <%= form.submit 'Select Flight' %>
  <% end %>
<% end %>
