<%= form_with url: false, method: :get do |form| %>
  <%= form.label :origin_id, 'Departing from:' %>
  <%= form.collection_select :origin_id, Airport.order(:name), :id, :name %>

  <%= form.label :destination_id, 'Arriving to:' %>
  <%= form.collection_select :destination_id, Airport.order(:name).reverse, :id, :name %>

  <%= form.label :passengers, 'Number of passengers:' %>
  <%= form.number_field :passengers, within: 1..4 %>

  <%= form.label :departure_date, 'Departure date:' %>
  <%= form.select :departure_date, options_from_collection_for_select(@flights.unique_departure_dates, :departure_date, :departure_date_formatted) %>

  <%= form.submit 'Search Flights' %>
<% end %>

<% if params[:commit] %>
  <%= form_with url: new_booking_path, method: :get do |form| %>

    <% @selected_flights.each do |flight| %>
      <input type="radio" id="flight_id_<%= flight.id %>" name="flight_id" value="<%= flight.id %>">
      <label for="flight_id_<%= flight.id %>">
        <%= render 'shared/flight_result', flight: flight %>
      </label>
      <%= hidden_field_tag :passengers, params[:passengers] %>
    <% end %>

    <%= form.submit %>
  <% end %>
<% end %>
