<%= form_with url: false, method: :get do |form| %>
  <%= form.label :origin_id, 'Departing from:' %>
  <%= form.collection_select :origin_id, Airport.order(:name), :id, :name %>

  <%= form.label :destination_id, 'Arriving to:' %>
  <%= form.collection_select :destination_id, Airport.order(:name).reverse, :id, :name %>

  <%= form.label :passengers, 'Number of passengers:' %>
  <%= form.number_field :passengers, within: 1..4 %>

  <%= form.label :departure_date, 'Departure date:' %>
  <%= form.select :departure_date, options_from_collection_for_select(@flights.unique_departure_dates, :departure_date, :departure_date_formatted) %>

  <%= form.submit 'Search Flights' %>
<% end %>

<% if params[:commit] %>
  <%= form_with url: bookings_new_path, method: :get do |form| %>

    <% @selected_flights.each do |flight| %>
      <input type="radio" id="flight_id_<%= flight.id %>" name="flight_id" value="<%= flight.id %>">
      <label for="flight_id_<%= flight.id %>">
        <div class="departure_result_info">
          <p>Departing from</p>
          <p><%= flight.origin.code %></p>
          <p><%= flight.origin.name %></p>
          <p><%= flight.departure_date_formatted %></p>
          <p><%= flight.departure_time_formatted %></p>
        </div>
        <div class="arrival_result_info">
          <p>Arriving to<p>
          <p><%= flight.destination.code %></p>
          <p><%= flight.destination.name %></p>
          <p><%= flight.arrival_date_formatted %></p>
          <p><%= flight.arrival_time_formatted %></p>
        </div>
      </label>
      <%= hidden_field_tag :passengers, params[:passengers] %>
    <% end %>

    <%= form.submit %>
  <% end %>
<% end %>
