<h1>THIS BETTER WORK!</h1>
<%= form_with model: @booking do |form| %>

  <div class="departure_result_info">
    <p>Departing from</p>
    <p><%= @selected_flight.departure_airport.code %></p>
    <p><%= @selected_flight.departure_airport.name %></p>
    <p><%= @selected_flight.departure_date_formatted %></p>
    <p><%= @selected_flight.departure_time_formatted %></p>
  </div>
  <div class="arrival_result_info">
    <p>Arriving to<p>
    <p><%= @selected_flight.arrival_airport.code %></p>
    <p><%= @selected_flight.arrival_airport.name %></p>
    <p><%= @selected_flight.arrival_date_formatted %></p>
    <p><%= @selected_flight.arrival_time_formatted %></p>
  </div>

  <%= form.hidden_field :flight_id, { value: params[:flight_id] } %>
  <%# hidden_field_tag :flight_id, params[:flight_id] %>

  <%= form.fields_for :passengers do |sub_form| %>
    <%= sub_form.label :first_name, 'First Name:' %>
    <%= sub_form.text_field :first_name %>

    <%= sub_form.label :last_name, 'Last Name:' %>
    <%= sub_form.text_field :last_name %>

    <%= sub_form.label :email, 'Email:' %>
    <%= sub_form.email_field :email %>

    <%= sub_form.label :phone_number, 'Phone number:' %>
    <%= sub_form.telephone_field :phone_number %>
  <% end %>

  <%= form.submit %>
<% end %>
