<h1>THIS BETTER WORK!</h1>
<%= form_with model: @booking do |form| %>

  <%= render 'shared/flight_result', flight: @selected_flight %>

  <%= form.hidden_field :flight_id, { value: params[:flight_id] } %>

  <%= form.fields_for :passengers do |sub_form| %>
    <%= sub_form.label :first_name, 'First Name:' %>
    <%= sub_form.text_field :first_name %>

    <%= sub_form.label :last_name, 'Last Name:' %>
    <%= sub_form.text_field :last_name %>

    <%= sub_form.label :email, 'Email:' %>
    <%= sub_form.email_field :email %>

    <%= sub_form.label :phone_number, 'Phone number:' %>
    <%= sub_form.telephone_field :phone_number %>
  <% end %>

  <%= form.submit %>
<% end %>
