<h2>Book Flight</h2>
<%= form_with model: @booking, class: 'new_booking_form' do |form| %>

  <%= render 'shared/flight_result', flight: @selected_flight %>

  <%= form.hidden_field :flight_id, { value: params[:flight_id] } %>

  <%= form.fields_for :passengers do |sub_form| %>
    <div class="passenger_fields">
      <div>
        <%= sub_form.label :first_name, 'First Name:' %>
        <%= sub_form.text_field :first_name,
          maxlength: 100,
          pattern: '[A-Za-z ]+',
          title: 'First name should only contain letters/spaces.',
          required: true %>
      </div>

      <div>
        <%= sub_form.label :last_name, 'Last Name:' %>
        <%= sub_form.text_field :last_name,
          maxlength: 100,
          pattern: '[A-Za-z ]+',
          title: 'Last name should only contain letters/spaces.',
          required: true %>
      </div>

      <div>
        <%= sub_form.label :email, 'Email:' %>
        <%= sub_form.email_field :email %>
      </div>

      <div>
        <%= sub_form.label :phone_number, 'Phone number:' %>
        <%= sub_form.telephone_field :phone_number %>
      </div>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
