<h1>Final Boss!</h1>

<div class="departure_result_info">
  <p>Departing from</p>
  <p><%= @selected_flight.departure_airport.code %></p>
  <p><%= @selected_flight.departure_airport.name %></p>
  <p><%= @selected_flight.departure_date_formatted %></p>
  <p><%= @selected_flight.departure_time_formatted %></p>
</div>
<div class="arrival_result_info">
  <p>Arriving to<p>
  <p><%= @selected_flight.arrival_airport.code %></p>
  <p><%= @selected_flight.arrival_airport.name %></p>
  <p><%= @selected_flight.arrival_date_formatted %></p>
  <p><%= @selected_flight.arrival_time_formatted %></p>
</div>
