<h1>Final Boss!</h1>

<div class="departure_result_info">
  <p>Departing from</p>
  <p><%= @selected_flight.origin.code %></p>
  <p><%= @selected_flight.origin.name %></p>
  <p><%= @selected_flight.departure_date_formatted %></p>
  <p><%= @selected_flight.departure_time_formatted %></p>
</div>
<div class="arrival_result_info">
  <p>Arriving to<p>
  <p><%= @selected_flight.destination.code %></p>
  <p><%= @selected_flight.destination.name %></p>
  <p><%= @selected_flight.arrival_date_formatted %></p>
  <p><%= @selected_flight.arrival_time_formatted %></p>
</div>

<h2>Passengers</h2>
<div class="passengers-info">
  <% @booking.passengers.each do |passenger| %>
    <p><span>Name:</span><%= " #{passenger.first_name} #{passenger.last_name}" %></p>
    <p><span>Email:</span><%= " #{passenger.email}" %></p>
    <p><span>Phone Number:</span><%= " #{passenger.phone_number}" %></p>
  <% end %>
</div>
