<div class="flight_result_container">
  <div class="departure_result_info">
    <p>Departing from</p>
    <p><%= flight.origin.code %></p>
    <p class="result_airport_name"><%= flight.origin.name %></p>
    <p><%= flight.departure_time_formatted %></p>
    <p class="result_date"><%= flight.departure_date_formatted %></p>
  </div>
  <div class="arrival_result_info">
    <p>Arriving to</p>
    <p><%= flight.destination.code %></p>
    <p class="result_airport_name"><%= flight.destination.name %></p>
    <p><%= flight.arrival_time_formatted %></p>
    <p class="result_date"><%= flight.arrival_date_formatted %></p>
  </div>
  <div class="available_passenger_info">
    <p><%= pluralize(flight.available_seats, 'seat') %> available</p>
  </div>
</div>
