<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'plane-favicon-16x16.png' %>
  </head>

  <body>
    <header>
      <div class="logo-and-text">
        <div class="logo">
          <%= image_tag 'plane-logo.svg', alt: 'Outline of plane descending from the ground' %>
        </div>
        <h1>Flight Booker</h1>
      </div>
      <nav>
        <%= link_to "Flight Search", root_path %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
