<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || 'Flight Booker' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'plane-favicon-16x16.png' %>
  </head>

  <body>
    <header>
      <div class="logo-and-text">
        <div class="logo">
          <%= image_tag 'plane-logo.svg', alt: 'Outline of plane descending from the ground' %>
        </div>
        <h1>Flight Booker</h1>
      </div>
      <nav>
        <%= link_to "Flight Search", root_path %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <ul>
        <li><a href="https://thenounproject.com/icon/plane-2322367/">"Plane"</a> (used as favicon) by <a href="https://thenounproject.com/thanhloc1009/">Phạm Thanh Lộc</a> from <a href="https://thenounproject.com/">The Noun Project</a></li>
        <li><a href="https://thenounproject.com/icon/flight-on-4179048/">"Flight On"</a> by <a href="https://thenounproject.com/whales.factory/">Whales Factory</a> from <a href="https://thenounproject.com/">The Noun Project</a></li>
        <li><a href="https://www.flaticon.com/premium-icon/plus_4315609?term=plus&page=1&position=6&page=1&position=6&related_id=4315609&origin=tag">Plus Icon</a> (used in button to add passengers) by <a href="https://www.flaticon.com/authors/kliwir-art">Kliwir Art</a> from <a href="https://www.flaticon.com/">Flaticon</a></li>
      </ul>
    </footer>
  </body>
</html>
